@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: Centra;
        src: url('./assets/CentraNo2-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: Centra;
        src: url('./assets/CentraNo2-Medium.ttf');
        font-weight: 500;
    }

    @font-face {
        font-family: Centra;
        src: url('./assets/CentraNo2-Book.ttf');
        font-weight: 400;
    }

    html {
        font-family: 'Centra', sans-serif !important;
    }
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0);
    }

}

@keyframes zoom-in-out {

    0%,
    100% {
        transform: scale(95%, 95%);
    }

    50% {
        transform: scale(100%);
    }

}

/*************** PROJECTS ***************/
/* Tab1 */
div#card-bg {
    visibility: hidden;
    height: 0;
}

div#card-content {
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

div#card:hover>div#card-bg {
    transition: linear 0.3s;
    visibility: visible;
    height: 100%;
}

div#card:hover>div#card-content {
    transition: linear 0.3s;
    visibility: visible;
    top: -10%;
}

/* Tab2 */
@keyframes wave {

    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        top: -30%;
    }

    50% {
        top: -50%;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        top: -30%;
    }
}

div#container>#water_wave {
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .8),
        0 0 20px 0 rgba(0, 0, 0, .3);
}

div#container>#water_wave::after,
div#container>#water_wave::before {
    background-color: white;
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: 50%;
}

div#container>#water_wave::after {
    border-radius: 45%;
    animation: wave 5s linear infinite;
}

div#container>#water_wave::before {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 35%;
    animation: wave 5s linear infinite;
}

/* Tab3 */
div#loader {
    animation: rotation 16s linear infinite;
}

div#loader>span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(calc(45deg * var(--i)));
}

div#loader>span::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, #AA367C, #4A2FBD);
    border-radius: 50%;
    box-shadow: 0 0 30px black;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*************** FOOTER ***************/
a:hover>.footer-icons {
    filter: invert(100%);
}